* {
	margin: 0;
	padding: 0;
}
.clearfix {
	clear: both;
}

#container {
	background: silver;
	margin: 0 auto;
	width: 100%;
	height: 1000px;
	font-family: arial;
}
header {
	background: url(background.png);
	width: 100%;
	color: white;
}
.left_header {
	padding: 50px 0;
	float: left;
}
header h1 {
	font-size: 40px;
}
nav {
	float: right; 
}
nav ul {	}
nav ul li {
	float: left; 
	padding: 57px 30px;
	font-size: 30px;
	margin: 0 2px;
}
nav ul li:hover {
	background: orange; 	
}
main {
	
}

.main_img {
	width: 100%;
	height: 100%;
}

section {
	padding: 0 5%;
}
section h2 {
	text-align: center;
	font-size: 40px;
	padding: 50px;
	color: silver;
	text-shadow: 0 0 5px black;
}
article {
	width: 23%;
	margin: 20px 1% 20px 0;
	float: left;
	color: #666;
}
.margin_left {
	margin-left: 2%;
}
.margin_right {
	margin-right: 0%;
}
article img {
	width: 100%;
}
.article_title {
	text-align: center;
	font-size: 20px;
	margin: 20px; 
	font-weight: bold;
}
.article_description {
	text-align: center;
}