* {
	margin: 0;
	padding: 0;
}
.clearfix {
	clear: both;
}

#container {
	background: silver;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: arial;
}
header {
	background: url(background.png);
	width: 100%;
	height: 100%;
	color: white;
}
#left_header {
	padding: 50px 0;
	float: left;
}
header h1 {
	font-size: 40px;
}
#right_header {
	float: right; 
}
#right_header ul {	}
#right_header ul li {
	float: left; 
	padding: 57px 30px;
	font-size: 30px;
	margin: 0 2px;
}
#right_header ul li:hover {
	background: orange; 	
}
main {
	
}

.main_img {
	width: 100%;
	height: 100%;
}

.first_section {
	padding: 0 5%;
}
section h2 {
	text-align: center;
	font-size: 40px;
	padding: 50px;
	color: silver;
	text-shadow: 0 0 5px black;
}
article {
	width: 23%;
	margin: 20px 1% 20px 0;
	float: left;
	color: #666;
}
.margin_left {
	margin-left: 2%;
}
.margin_right {
	margin-right: 0%;
}
article img {
	width: 100%;
}
.article_title {
	text-align: center;
	font-size: 20px;
	margin: 20px; 
	font-weight: bold;
}
.article_description {
	text-align: center;
}
.second_section {
	background: url(background2.jpg) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
	padding: 50px 50px;
	box-sizing: border-box;
}
.second_section h2 {
	text-align: center;
	color: white;
	font-size: 60px;
}
.second_section .left_side {
	width: 40%;
	float: left;
}
.second_section .left_side img {
	width: 100%;
	height: 80%;
	border: 5px solid white;
	border-radius: 40px;
}
.second_section .right_side {
	width: 40%;
	float: right;
	color: white;
	padding: 20px;
	background: black;
	border: 5px solid white;
	line-height: 30px;
}
footer {
	width: 100%;
	height: 100%;
	background: gray;
/*	background: url(background.png);*/
/*	color: white;*/
}
.left_footer {
	padding: 20px;
	float: left;
}
.right_footer {
	padding: 20px;
	float: right;
}
.right_footer ul {
}
.right_footer ul li {
	float: left; 
	padding: 0 30px;
	margin: 0 10px;
	font-weight: bold;
	font-size: 30px;

}
.right_footer ul li:hover {
	background: orange;
}